fastapi
uvicorn
python-multipart
langchain
langchain-groq
langchain-community
langchain-huggingface
chromadb
sentence-transformers
arxiv
wikipedia
ddgs
pypdf
edge-tts
pydub
google-api-python-client
static_ffmpeg
PyMuPDF
Pillow
email-validator
sqlalchemy
httpx
python-jose
bcrypt
