fastapi
uvicorn
python-multipart
langchain>=0.3.0
langchain-core>=0.3.0
langchain-groq
langchain-experimental
numpy
requests
pyvis
networkx
json-repair
pdfplumber
langchain-community
langchain-huggingface>=0.1.0
chromadb
langchain-chroma
sentence-transformers
arxiv
wikipedia
ddgs
duckduckgo-search
pypdf
edge-tts
pydub
google-api-python-client
static_ffmpeg
PyMuPDF
Pillow
email-validator
sqlalchemy
psycopg2-binary
httpx
python-jose
bcrypt
alembic
python-dotenv
reportlab
moviepy
marker-pdf
