fastapi
uvicorn
python-multipart
langchain
langchain-groq
langchain-experimental
numpy
requests
pyvis
networkx
json-repair
pdfplumber
langchain-community
langchain-huggingface
chromadb
langchain-chroma
sentence-transformers
arxiv
wikipedia
ddgs
pypdf
edge-tts
pydub
google-api-python-client
static_ffmpeg
PyMuPDF
Pillow
email-validator
sqlalchemy
httpx
python-jose
bcrypt
